{% extends 'base.html' %}
{% load static %}


{% block title %} Изменение пароля :: {{ block.super }} {% endblock %}

{% block content %}


    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="alert alert-success" role="alert">
                        <p>Вы успешно изменили пароль Если не сработало</p>
                        <p>перенаправление, то, пожалуйста, нажмите на кнопку перехода</p>
                        <a href="{% url 'home' %}">Главное меню </a>
                    </div>


                </div>
            </div>
        </div>
{% endblock %}