{% extends 'base.html' %}
{% load static %}


{% block title %} Сброс пароля :: {{ block.super }} {% endblock %}

{% block content %}

    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="border-top" style="border-top: 1px solid #40c4ff;"><br>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger " role="alert">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {{ forms.non_field_errors }}
                            {% csrf_token %}
                            <label id="id_email">Введите email</label>
                            <input name="email" class="form-control" autocomplete="email" type="email"
                                   id="id_email" required><br>
                            <p>{{ form.new_password1.errors|striptags }}</p>
                            {% for field in forms %}
                                <div class="form-group">
                                    {% if field.errors %}
                                        <div class="alert alert-danger " role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success btn-block">Сбросить пароль</button>
                            <br>


                        </form>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}